/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.app-container {
  background-image: url('/Users/priyamac/personalprojects/Boold_Donation_Management_System/BloodDonationSystem/Frontend/DonationClient/src/assets/IMG-20240118-WA0009.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header {
  padding: none;
  background-color: black;
}
